[core]
editor = nvim
filemode = false
excludesFile = ~/.gitignore
pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    feature = gruvbox-fang
    side-by-side = true

[status]
showUntrackedFiles = all
[commit]
gpgsign = true
[init]
defaultBranch = main

[rerere]
enabled = true

; Should be in local file ~/.gitignore.local
; [user]
; 	name = ...
; 	email = ...

[include]
	path = ~/.gitconfig.local
	
